@mixin breakpoint($point){
	@if $point == 'mobile'{
		@media screen and (max-width:640px){
			@content;
		}
	}
	@else if $point == 'tablet'{
		@media screen and (max-width:959px){
			@content;
		}
	}
	@else if $point == 'desktop'{
		@media screen and (min-width:960px){
			@content;
		}
	}
}

@mixin rounded($value){
	border-radius: $value;
	-webkit-border-radius: $value;
}
