config.codekit
portfolio/.codekit-cache
.DS_Store
portfolio/css/.DS_Store
portfolio/assets/.DS_Store
portfolio/js/.DS_Store
portfolio/imgs/.DS_Store
portfolio/fonts/.DS_Store
style.scssc
_mixins.scssc
css/.sass-cache
